//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 13 14:28:51 2017
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "U16" LEVEL 1;
COMP "button" LOCATE = SITE "B8" LEVEL 1;
SCHEMATIC END;

