//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 13 15:10:08 2017
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "button" LOCATE = SITE "B8" LEVEL 1;
COMP "reset" LOCATE = SITE "D9" LEVEL 1;
SCHEMATIC END;

