// ex1 UCF
NET "out[0]"    LOC = U16;
NET "out[1]"    LOC = V16;
NET "out[2]"    LOC = U15;
NET "out[3]"    LOC = V15;
NET "out[4]"    LOC = M11;
NET "out[5]"    LOC = N11;
NET "out[6]"    LOC = R11;
NET "out[7]"    LOC = T11;
NET "reset"     LOC = B8;
NET "clk"       LOC = V10;

// ex2 UCF
//NET "grant_0"   LOC = U16;
//NET "grant_1"   LOC = V16;
//NET "cerere_0"  LOC = T10;
//NET "cerere_1"  LOC = T9;
//NET "reset"     LOC = B8;
//NET "clk"       LOC = V10;

// ex3 UCF
//NET "mutant"        LOC = U16;
//NET "super_mutant"  LOC = V16;
//NET "A"             LOC = M8;
//NET "G"             LOC = V9;
//NET "C"             LOC = T9;
//NET "T"             LOC = T10;
//NET "reset"         LOC = B8;
//NET "clk"           LOC = V10;
