//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 20 15:15:09 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "reset" LOCATE = SITE "B8" LEVEL 1;
COMP "out<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "out<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "out<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "out<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "out<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "out<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "out<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "out<7>" LOCATE = SITE "T11" LEVEL 1;
SCHEMATIC END;

